.page-container {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.list-container {
  display: flex;
  justify-content: center;
  gap: 120px; 
}

.animal-card h2 {
  font-size: 1.7em;
  margin: 0 0 15px 0;
}

.animal-card p {
  margin: 10px 0;
}

.animal-card .scientific-name {
  font-weight: bold;
}
