body{
    background-color:#2e2a26;
}
h2{
    color: white;
    text-align: center;
}

.container{
    background-color:#d6c9b7;
    margin: 30px;
    padding: 15px;
}


.button{
    text-align: center;
    padding: 30px;
    border-radius: 12px;
}

.Btn{
    padding: 12px 12px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

input{
    padding: 12px;
}

.error{
    color:red
}